<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Example</title>

    <script src="/static/main.js" defer></script>
</head>
<body>
    <h1>Ejemplo de búsqueda usando técnicas de Throttle y Debounce</h1>
    <p>Ejemplifica e implementa los conceptos explicados por Kyle Cook en su <a href="https://www.youtube.com/watch?v=cjIswDCKgu0">vídeo (YouTube)</a> y en su <a href="https://blog.webdevsimplified.com/2022-03/debounce-vs-throttle/">blog (blog.webdevsimplified.com)</a></p>

    <label for="table">Seleccione una tabla: </label>
    <select name="table" id="table">
        <option>Loading...</option>
    </select>
</body>
</html>